* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  background-color: black;
  color: white;
  width: 85%;
  margin: auto;
}

.header-container {
  background-color: black;
  padding: 14px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header img {
  width: 127px;
  padding: 15px 0;
  vertical-align: middle;
  padding: 7px 0;
}

.header ul{
  display: inline;
  float: right;
  padding-top: 16px;
}

.header li {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  padding-right: 20px;
}

.header a:hover{
  color: #1ed760;
}

.header a {
  text-decoration: none;
  color: white;
}

.premium {
  background-color: rgb(29, 117, 222); 
  color: white;
  padding: 140px 0 40px 16px;
}

.premium-content {
  width: 85%;
  margin: auto;
}

.premium-content h1 {
  font-size: 30px;
}

.premium-content h2 {
  font-size: 20px;
  font-weight: 300px;
}

.premium-content h1, .premium-content h2 {
  padding-bottom: 30px;
}

.premium-content a {
  color: white;
}

.premium-content p {
  padding-top: 20px;
  font-size: 10px;
  font-weight: normal;
}

.premium-buttons {
  display: inline-block;
  border-radius: 100px;
  padding: 12px 20px;
  font-size: 11px;
  font-weight: 600;
  opacity: 0.9;
  cursor: pointer;
  z-index: 1;
}

.comece-agora {
  background-color: black;
}

.comece-agora:hover, .ver-planos:hover {
  padding: 15px 27px;
  opacity: 1;
}

.ver-planos {
  border: 1px solid white;
}

.ver-planos:hover {
  background-color: #175DB1;
}

.why-premium {
  text-align: center;
}

.why-premium div {
  display: inline-block;
  margin: 20px;
  padding-bottom: 35px;
}

.why-premium h2 {
  padding-top: 45px;
  font-size: 30px;
  margin-bottom: 45px;
}

.why-premium img {
  padding: 13px;
}

.footer {
  background-color: #efefef;
  text-align: center;
  height: 580px;
}

.footer h2 {
  padding-top: 45px;

  font-size: 30px;
}

.footer h3 {
  margin-top: 19px;
  font-size: 15px;
}

.footer div {
  display: inline-block;
  margin: auto;
  margin-top: 40px;
  margin-right: 10px;
  margin-left: 10px;
}
.favorites-bands {
  background-color: white;
  width: 300px;
  margin: auto;
  margin-top: 30px;
  border-radius: 11px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 300px;
}

.favorites-bands h2 {
  padding-top: 20px;
  font-size: 28px;
  padding-bottom: 20px;
  color: green;
  position: relative;
  left: -40px;
  
}

.favorites-bands ol {
  list-style-type: none;
}

.favorites-bands a {
  text-decoration: none;
  color: black;
}

.favorites-bands img{
  width: 80px;
  position: relative;
  left: -100px;
  top: 10px;

}

.favorites-bands li{
  margin-left: 12px;
  font-size: 13px;
  line-height: 20px;
  position: relative;
  left: -60px;
  top: -15px;
}
button {
  margin: 60px 0px;
  border: none;
  background-color: #ffd2d7;
  padding: 15px 45px;
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
  width: 220px;
  
}

#individual {
  position: relative;
  left: -60px;
}

#duo {
  position: relative;
  left: -107px;
}

#gratis {
  position: relative;
  left: -90px;
}

.btn-grad {
  background-image: linear-gradient(to right, #52c234 0%, #061700  51%, #52c234  100%);
  
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 30px;
 
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
